/*COLORS-HEX-CODE*/
$color-white: #fff;
$color-black: #000;


$color-light-gold: #d1b264;
$color-medium-gold: #9a7412;
$color-dark-gold: #533c02;

$color-light-gray: #a6a6a6;
$color-medium-gray: #808080;
$color-dark-gray: #5a5a5a;